/* Set common styles for all devices */
body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: var(--font-roboto);
  text-align: center;
}

.home-page {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Add specific styles for desktop and larger screens */
@media (min-width: 1024px) {
  .pic-obj-icon,
  .search-bar {
    position: absolute;
    top: 25%;
    left: 55%;
    transform: translate(-50%, -50%);
    width: 50%;
    height: 50%;
  }

  .search-bar {
    border-radius: 70px;
    background-color: var(--color-white);
  }

  .search-coursesschoolsetc {
    font-size: var(--font-size-base);
  }

  /* Add other specific styles for larger screens */
  /* ... */
}

/* Add specific styles for tablets and medium-sized screens */
@media (min-width: 768px) and (max-width: 1023px) {
  /* Adjust styles for tablets */
  /* ... */
}

/* Add specific styles for mobile and smaller screens */
@media (max-width: 767px) {
  .search-bar {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
  }

  .search-coursesschoolsetc {
    font-size: var(--font-size-mid);
  }

  /* Adjust other styles for mobile */
  /* ... */
}
